.PropertyProduct-container {
  .product {
    background: white;

    .product-view {
      padding: 2em 1em 4em;
    }

    .product-header {
      text-align: center;
      margin-bottom: 0.25em;
      
      .product-name {
        color: #6a1b9a;
        font-size: 1.25em;
      }
    }

    .product-image {
      padding: 1em 0 2em 0;

      img {
        margin: 0 auto;
        display: block;
      }
    }

    .product-info {
      text-align: center;

      a {
        display: inline-block;
        margin: 0 0.5em 0.75em 0.5em;
        font-size: 1.15em;
        font-weight: bold;
        color: #6a1b9a;
        border-bottom: 2px solid #9ccc65;
      }
    }

    .actions {
      padding-top: 2em;
      padding-bottom: 2em;
      text-align: center;

      .button {
        background: none;
        border: none;
        padding: 0;
        font-size: 1em;
        color: #6a1b9a;
        text-transform: uppercase;
      }
    }
  }
}
