.PropertyEdit-form {
  margin: 1em;
}

.PropertyEdit-actions {
  border-top: 1px solid #c29dd5;
  margin-top: 2em;
  padding: 2em 1em;

  button {
    border: none;
    display: block;
    margin-bottom: 1em;
    width: 100%;
    background: white;
    color: #666;
    text-align: center;
    padding: 0.5em 0;
    font-size: 1.25em;
  }
}
