.PropertyChecklist-container {
  .alert {
    margin: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    background: #9ccc65;
    color: white;

    button {
      float: right;
      font-size: 0.75em;
      margin-top: -0.2em;
      text-transform: uppercase;
    }
  }

  .PropertyChecklist-products {
    overflow: hidden;
    margin: 1em;
    
    div {
      margin-bottom: 1.15em;
      line-height: 1.3;
    }

    .product {
      margin-right: 0.5em;
      font-size: 1.25em;
      border-bottom: 3px solid #9ccc65;
    }

    .add-more {
      margin-top: 0.5em;
      font-size: 1.25em;
      border-bottom: 3px solid #9ccc65;
      float: right;
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  .actions {
    border-top: 1px solid #c29dd5;
    margin-top: 2em;

    .inner {
      padding: 2em 1em;
    }
    
    &.blank-state {
      border: none;
      margin-top: 2em;
      padding-top: 0;
    }

    a {
      display: block;
      border: none;
      margin-bottom: 1em;
      width: 100%;
      background: white;
      color: #666;
      text-align: center;
      padding: 0.5em 0;
      font-size: 1.25em;
    }
  }
}
