.PropertyWrapper-header {
  border-bottom: 1px solid #c29dd5;

  .inner {
    padding: 1em;
  }

  a {
    font-size: 1.25em;

    &.editable {
      font-weight: bold;
      word-wrap: break-word;
    }
  }

  form.RenameProperty {
    position: relative;

    input[type="text"] {
      background: white;
      color: #444;
      width: 100%;
      padding: 0.4em 0;
      text-indent: $inputTextIndent;
      font-size: 1.25em;
      outline: 0;
    }

    .onFocus {
      display: none;
    }

    &.editing {
      .onFocus {
        display: block;
      }

      .onBlur {
        display: none;
      }
    }

    input[type="submit"] {
      margin-top: 0.5em;
      margin-bottom: 1em;
      background: none;
      border: none;
      padding: 0;
      float: right;
      font-size: 1.5em;
      color: white;
      text-transform: uppercase;
      text-align: center;
      padding: 8.5px;
      background-color: #9ccc65;
    }
  }
}
