.PropertyForm {
  margin-top: 1.5em;
  margin-bottom: 1em;
  overflow: hidden;

  label {
    display: block;
    color: white;
    font-size: 1.25em;
    margin-left: 0.33em;
    margin-bottom: 0.25em;
  }

  input[type="text"] {
    background: white;
    width: 100%;
    padding: 0.4em 0;
    text-indent: 0.5em;
    font-size: 1.25em;
  }
  
  span {
    display: block;
    color: white;
    margin-top: 0.5em;
    margin-left: 0.5em;
  }

  input[type="submit"] {
    margin-top: 0.5em;
    background: none;
    border: none;
    padding: 0;
    float: right;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    border-bottom: 2px solid #9ccc65;
    text-transform: uppercase;
  }
}
