.PropertyChecklist-container {
  .alert {
    display: block;
    margin: 1em;
    margin-bottom: 1.5em;
    padding: 1em;
    background: #9ccc65;
    color: white;
  }

  @-webkit-keyframes fade-out {
    0% { opacity: 1; -webkit-transform: scale(1);}
    85% {opacity: 0; -webkit-transform: scale(1.05);}
    100% {opacity: 0; -webkit-transform: scale(.1); opacity: 0;}
  }

  .fade-out {
    -webkit-animation-delay: .5s;
    -webkit-animation: fade-out 1s ease-in;
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-iteration-count: 1;
    opacity: 1;
  }
  
  .PropertyChecklist-products {
    overflow: hidden;
    margin: 1em;
    padding-right: 15px;

    div {
      margin-bottom: 1.15em;
      line-height: 1.3;
    }

    .product {
      margin-right: 0.5em;
      font-size: 1.25em;
      border-bottom: 3px solid #9ccc65;
    }

    .add-more {
      margin-top: 10px;
      font-size: 1.25em;
      float: right;
      text-transform: uppercase;
      text-align: center;
      padding: 11px;
      background-color: #9ccc65;
    }
  }

  .actions {
    border-top: 1px solid #c29dd5;
    margin-top: 2em;

    .inner {
      padding-top: 2em;
      padding-bottom: 2em;
      text-align: center;
    }

    &.blank-state {
      border: none;
      margin-top: 0;
      padding-top: 0;
    }

    a {
      font-size: 1.25em;
      text-transform: uppercase;
      text-align: center;
      padding: 11px;
      background-color: #9ccc65;
      display: inline-block;
      width: 80%;
    }
  }
}
