body, html {
  font-size: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  @include vertical-gradient(#6a1b9a, #a43ab7);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 36em;
  overflow: hidden;
  position: relative;

  @media (min-width: 40em) {
    margin: 0 auto;
  }
}

.App-loading, .App-connection-error {
  text-align: center;
  font-size: 1.25em;
  margin: 2.5em 0.75em;
  line-height: 1.4;
  color: white;

  a {
    border-bottom: 3px solid #9ccc65;
  }
}

.App-logo {
  border-bottom: 1px solid #c29dd5;
  padding: 0.5em 0;
  overflow: hidden;

  img {
    margin-left: 1em;
    margin-right: 1em;
    float: left;
  }

  .logo-text {
    text-align: right;
    float: left;
    
    h1 {
      position: relative;
      top: 0.15em;
      color: white;
      font-size: 1.25em;
      text-transform: uppercase;
    }

    span {
      position: relative;
      top: -1.25em;
      color: #eee;
      font-size: 0.75em;
    }
  }
}

